doctype html
html
  head
    title !{query || 'yook.uz'} - Поиск в Tas-ix
    link(rel='stylesheet' href='/stylesheets/style.css')
    //- h1= title
  body
    div.c
      div.hc
        img#logol(src="/images/logol.png" height="176" width="380" alt="logo") 
        span.grey.right-up  α
      form(action='/search' method='get')
        input(type="text" name="search" autofill="false" id="searchbar" value=query autofocus)
        button(type="submit") Поиск

      div.desc.main
        input(type="checkbox" id="list")
        div
          h4 Поиска фильмов, программ, игр и других контентов в сети Tas-IX.
          div.more
            p yook.uz отличается от других поисковых систем тем что система выдаёт результаты из подобранных сайтов в Tas-ix и специализирован только на поиске файлов что очень важно для экономии трафика. 
            p Сервис работает в режиме начального тестирование и включает немного, но качественные сайты национальной сети. Свои желания и вопросы по проекту можете отправить по почте 
              a(style="color:black" href="mailto:d@abduvakilov.me") d@abduvakilov.me    
        label(for="list")  узнать больше ↓
        
