body {
	margin: 40px 0 0 150px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.grey, footer {
	color: grey;
}
a {
	display: inline-block;
	color: #0099FF;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #00f;
}
#searchbar {
	/*margin: 0;*/
	border: solid 1px #993399;
	border-radius: 6px 0 0 6px;
	max-width: 600px;
	width: 100%;
	height: 25px;
	font-size: 18px;
	padding: 5px;
	float: left;
}
button {
	height: 37px;
	width: 60px;
	background: #993399;
	border: 0px;
	border-radius: 0 6px 6px 0;
	font-size: 16px;
	color: white;
}
button:hover {
	background: #bf40bf;
}
/*input, button {
	padding: 9px;
	font-size: 18px;
	float: left;
	border: 1px;
	display: block;
	margin: 0;
}*/
.result {
	/*border: 1px solid silver;*/
	/*border-radius: 5px;*/
    /*box-shadow: 2px 2px 1px 0 silver;*/
	margin: 0 0 10px;
	/*padding: 0 40px;*/
	max-width: 700px;
}
.result h3 {
	margin: 15px 0 0;
	font-size: 17px;
	font-weight: 600;
}
h4 {
	font-weight: normal;
}
.result span {
	color: #808080;
}
/*.desc * {
	margin: 0;
	padding: 0;
}*/
.link {
	color: darkorange;
}
.desc ul {
	list-style-type: none;
}
.noresult {
	margin: 15px;
}
.prev {
	margin: 30px 0 0;
	width: 180px;
	text-align: right;
	display: inline-block;
}
footer {
	margin: 30px 100px 20px;
	text-align: right;
}/* /topresult */
#wrap {
    width: 100%;
}
section {
   float:left;
   width: 600px;
}
aside {
   max-width:600px;
   margin: 0 30px 0 620px;
   overflow: hidden;
   border: 1px solid #ccc;
   padding: 20px;
}
.poster {
	float: right;
	max-height: 250px;
	overflow: hidden;
	margin: -20px -20px 20px 20px;
}
/*nav {
    clear: left;
}*//* showmoar */
.desc input {
  display: none;
}
.more {
/*  opacity: 0;
  max-height: 0;
  font-size: 0;*/
  display: none;
}
.desc input:checked ~ * .more {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  color: #000;
  display: initial;
}
label:hover {
	text-decoration: underline;
}
.desc input:checked ~ label {
  display: none;
}
.desc label {
  cursor: pointer;
  display: inline;
  color: #00f;
  font-size: .9em;
}
.desc p {
  display: inline;
}
h4.grey {
	margin-top: -20px;
}
.scores {
	margin-bottom: 20px;
}
.score {
	display: inline-block;
	width: 18%;
	border-left: 1px solid #ccc;
	padding-left: 5px;
}
@media screen and (max-width:1250px) {
    aside {
        display: none !important;
    }
}/* Lit Items */
.desc li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	margin-right: 20px;
}